{{{html}}}
<p>{{name}}</p>
{{#if todos}}
<ul>
  {{#each todos}}
  <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}
{{#if movies}}
<h1>Best movies of all times!</h1>
<ul>
  {{#each movies}}
  <li>{{this.title}}</li>
  {{/each}}
</ul>
{{/if}}